@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.card {
    @include border-radius(0.5rem);
    color: $color-secondary;
    width: 45%;

    .containerImage {
        width: 95%;
        margin: auto;

        .image {
            object-fit: cover;
            max-width: 100%;
            transition: transform 0.3s ease;
            @include border-radius(0.5rem);
            border: 0.05rem solid $color-gray;
        }

        &:hover {
            .image {
                transform: scale(1.08);
            }
        }
    }

    .description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1% 2%;

        .containerButton {
            .button {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 600px) {
    .card{
        width: 80%;

        .description{
            margin: 0 5%;
        }
    }
}
