@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.footerContainer{
	position: relative;
    bottom: 0;
    width: 70%;
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-between;
    color: $color-secondary;

    .copyright{
        font-weight: 700;
        font-size: 1.1rem;
        display: flex;
        align-items: center;

        img{
            width: 2.5rem;
            margin-right: 0.5rem;
        }
    }

    .socialContainer{
        a{
            text-decoration: none;
            color: $color-secondary;
            margin: 0.5rem;
        }
    }
}

@media (max-width: 600px) {
    .footerContainer{
        width: 95%;

        .copyright{
            font-size: 0.7rem;

            img{
                width: 1.6rem;
            }
        }

        .socialContainer{
            a{
                margin: 0.2rem;
            }
        }
    }
}